:root {
    --primary-color: #3d6a92;
    --secondary-color: #3d6a92;
    --tertiary-color: #ff6d24;

    --text-color-dark: #141414;
    --text-color-light: #616161;

    --color-white: #ffffff;
    --color-light: #616161;
    --color-red: red;

    --background-color: #3d6a92;
    --background-color-dark: #616161;
}
