:root {
    --primary-color: #3d6a92;
    --secondary-color: #3d6a92;
    --tertiary-color: #ff6d24;

    --text-color: #605e5d;
    --text-color-dark: #141414;
    --text-color-light: #616161;

    --color-white: #ffffff;
    --color-light: #616161;
    --color-red: red;

    --background-primary: #3d6a92;
    --background-secondary: #ff6d24;
    --background-tertiary: #eee;
    --background-black: #141414;

    --background-primary-light: #fff;
    --background-primary-inter: #dcdcdc;
    --background-primary-dark: #616161;
}
